<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form action="/Home/AddEntry/" method="post" enctype="multipart/form-data">
        Наименование: <input name="name" /> <br />
        <span for="name"><!-- name_error_msg --></span>
        Текст: <textarea name="text"></textarea> <br />
        <span for="text"><!-- text_error_msg --></span>
        Картинка: <input name="image" type="file" accept="image/*" /> <br />
        <span for="text"><!-- text_error_msg --></span>
        <input type="submit" />
    </form>
</body>
</html>